# Ignore all files by default
/*

# Allow source and resources
!/src
!/resource

# Ignore build and generated directories
/Build
/Intermediate
/generated-vs
/CMakeFiles
/CMakeCache.txt
/Makefile
/cmake_install.cmake

# Ignore binaries and build artifacts
*.pdb
*.o
*.obj
*.log
*.dll
*.lib
*.exe
*.app
*.out
*.a
*.so
*.dylib

# Allow git and license files
!.gitattributes
!.gitignore
!LICENSE
